/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Gilroy";
  src: url("./../assets/fonts/Gilroy/Gilroy-Bold.eot");
  src: url("./../assets/fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"), url("./../assets/fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("./../assets/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("./../assets/fonts/Gilroy/Gilroy-Medium.eot");
  src: url("./../assets/fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("./../assets/fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("./../assets/fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("./../assets/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 100%;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 975px;
  width: 100%;
  margin: 0 auto;
}
.header {
  background-color: #FFF;
  max-height: 88px;
}
.main-menu {
  padding: 2rem 0;
  border-bottom: 1px solid #828282;
  height: 100%;
}
.main-menu__row {
  display: flex;
}
.main-menu__item {
  font-size: 1.125rem;
  color: #828282;
  transition: all 0.2s ease-in-out;
}
.main-menu__item:not(:last-child) {
  margin-right: 9.688rem;
}
.main-menu__item:hover {
  color: #070707;
}