html {
    font-size: 100%;
}
body {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
}
.container {
    max-width: 975px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
        
    }
    @media screen and (max-width: 768px) {
        
    }
    @media screen and (max-width: 576px) {
        
    }
    @media screen and (max-width: 320px) {
        
    }
    
}